:root {
  --color-primary-light: #ffffff;
  --color-primary-brand: #ff9f0e;
  --color-primary-dark: #181817;
  --color-secondary-yellow: #fcb62a;
  --color-secondary-pink: #fffaf3;
  --color-secondary-silver: #f1f3ff;
  --color-secondary-dark-gray: #839aa9;
  --color-secondary-light-gray: #f9f9ff;
  --color-secondary-violet: #d9a6ff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
