.body {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../images/body-background.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;
}
